body {
  margin: 0;
}

#logo {
  position: absolute;
  top: 160px;
  min-width: 100%;
  margin: auto;
  text-align: center;
  opacity: 0.93;
}
#logo > img {
  height: 80px;
  width: auto;
}

#slogan {
  text-align: center;
  opacity: 0.93;
  color: white;
  font-weight: 300;
  min-width: 100%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 280px;
}

#particles-js {
   height: 360px;
   background: #2196f3;
   background: -moz-linear-gradient(top right, #2196f3, #3949ab);
   background: -o-linear-gradient(top right, #2196f3, #3949ab);
   background: -webkit-linear-gradient(top right, #2196f3, #3949ab);
   background: linear-gradient(top right, #2196f3, #3949ab);
}

section {
  min-height: 10em;
  padding: 5em 5%;
}
@media screen and (min-width: 64em)
{
  section {
    padding: 5em 20%;
  }
}
section:nth-child(n+2) {
  border-top: 1px solid #f0f0f0;
}
section:nth-child(odd) {
  background: #fafafa;
}
