<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Header -->
    <div id="particles-js">
      <div id="logo">
        <img src="assets/beta_uy.png">
      </div>
      <div id="slogan">
        <h2>{{ site.slogan }}</h2>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}

    <!-- particles.js -->
    <script src="vendor/particles/particles.min.js"></script>
    <script type="text/javascript">
      particlesJS.load('particles-js', 'particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
    </script>
  </body>
</html>
